//@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
button,
select,
input,
textarea {
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  //font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
