@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
button,
select,
input,
textarea {
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
