// Type
//------------------------------------------------------------------------------

$base-font-size: 16px; // Used to set intial rem scale in utilities/units
$main-header-height: 122px; // Used for header container and center 'container'
$main-header-height-mob: 60px;
$mobile-menu-width: 300px;
$color-accent: #D02F2A; // Used as the color accent.