.small-title{
	border-bottom: 3px solid $color-accent;
	font-size: rem(14px);
	padding-bottom: rem(5px);
	padding-right: rem(10px);
	padding-left: rem(10px);
	color: $color-accent;
	display: inline-block;
}