.header-menu{
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
}

.header-menu .menu li{
	@include animateIt(200ms);
	display: inline-block;
	padding: rem(20px) rem(15px);
	margin-right: rem(5px);
	
	&:last-child{
		margin-roght:0px;
	}
	
	& a{
		@include animateIt(200ms);
		color: black;
		font-weight: 600;
	}
	
	&:hover{
		background: $color-accent;
		
		& a{
			color: white;
		}
	}
	
	&.current_page_item{
		background: $color-accent;
		
		& a{
			color: white;
			font-weight: 400;
		}
	}
}