.iphorm-elements .iphorm-element-wrap-text input,
.iphorm-elements .iphorm-element-wrap-textarea textarea, {
	border: none!important;
	background: #EAEAEA!important;
	padding: 0.5rem!important;
	color: black!important;
	min-width: 90%!important;
}